/* Have media qureies be 1312, 992, 688, and 320 */

/* -------------------- GLOBAL ELEMENTS -------------------- */
@font-face {
  font-family: "Roboto Flex";
  src: url("RobotoFlex-VF.woff2") format("woff2 supports variations"),
    url("RobotoFlex-VF.woff2") format("woff2-variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

:root {
  /* dark theme */
  --primarydark: #0e0e0e;

  /* light theme */
  --primarylight: #c4c0c0;
}

/* -------------------- Light And Dark Mode Begin -------------------- */
.light {
  color: #222;
  background-color: #c4c0c0;
  padding: 0 50px;
}

.dark {
  color: #c4c0c0;
  background-color: #0e0e0e;
  padding: 0 50px;
}
/* -------------------- Light And Dark Mode End -------------------- */

.App {
  text-align: center;
  display: grid;
  min-height: -webkit-fill-available;
  font-family: "Roboto Flex";

  /* defining how many columns I want */
  grid-template-columns: repeat(1, 1fr [col-start]);

  /* defining how many rows I want */
  grid-template-rows: 80px auto 530px 150px;
  gap: 30px;

  grid-template-areas:
    "nav"
    "body"
    "contact"
    "footer";
}

/* -------------------- SPECIFIC ELEMENTS -------------------- */

@media screen and (max-width: 9999px) {
  /* -------------------- NAV BAR BEGIN -------------------- */

  .nav-container {
    justify-content: space-between;
    grid-area: nav;
    line-height: 80px;
    background-color: #222222;
    display: inline-flex;
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
    position: sticky;
    top: 0;
    opacity: 0.98;
  }

  .nav-routes {
    display: inline-flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .nav-routes-buttonWrapper {
    display: inline-flex;
    width: 82px;
    justify-content: center;
  }

  .nav-routes-route {
    background-color: inherit;
    border: none;
    color: white;
    font-size: 1rem;

    cursor: pointer;
  }

  .nav-routes-route:focus {
    outline: none;
  }

  .nav-routes-focus {
    font-weight: 600;
    outline: none;
    background-color: inherit;
    border: none;
    color: white;
    font-size: 1rem;

    cursor: pointer;
  }

  /* code taken from here: https://jaspreetchahal.org/pure-css-square-brackets/ */
  .squarebrackets {
    position: relative;
    z-index: 999;
  }
  .squarebrackets:before {
    content: " ";
    position: absolute;
    border-left: 2px solid #3e833c;
    border-top: 2px solid #3e833c;
    border-bottom: 2px solid #3e833c;
    padding: 2px;
    top: 27px;
    bottom: 27px;
    left: -15px;
    z-index: 999;
  }
  .squarebrackets:after {
    content: " ";
    position: absolute;
    border-right: 2px solid #3e833c;
    border-top: 2px solid #3e833c;
    border-bottom: 2px solid #3e833c;
    padding: 2px;
    top: 27px;
    bottom: 27px;
    right: -15px;
    z-index: 999;
  }

  .nav-routes-divider {
    background-color: white;
    width: 1px;
    height: 20px;
    margin: 30px 40px 30px 40px;
  }

  .nav-logo {
    height: 100%;
  }

  .nav-theme {
    display: inline-flex;
    width: 61px;
    height: 30px;
    vertical-align: middle;
    border-radius: 5px;
  }

  .ntdark {
    background-color: #1d1d1d;
  }

  .ntlight {
    background-color: #9c9c9c;
  }

  .nav-theme-divider {
    width: 1px;
    height: 20px;
    margin: 5px 0 5px 0;
    background-color: #272727;
  }

  .nav-theme-svg {
    margin: 0 7px;
  }

  /* Show tooltips https://www.w3schools.com/css/css_tooltip.asp */
  .nav-theme-img {
    line-height: 30px;
  }

  .nav-theme-img .nav-theme-img-text {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0 5px;
    top: 60px;
    left: 91%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
  }

  .nav-theme-img:hover .nav-theme-img-text {
    visibility: visible;
    opacity: 1;
  }

  /* -------------------- NAV BAR END -------------------- */

  /* -------------------- HOME BEGIN -------------------- */

  .home-container {
    grid-area: body;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "intro profile"
      "viewProjects viewProjects";
    padding: 160px 0 90px 120px;
    text-align: left;
    border-radius: 4px;
    /* background-image: linear-gradient(131deg, #181818 0%, #161616 100%); */
    background-image: url("./images/BackgroundSymbol.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    /* background-color: #24000075; */
  }

  .home-intro {
    grid-area: intro;
    padding-top: 35px;
  }

  .home-intro-h2 {
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 1.07px;
    margin: 10px 184px 10px 0;
  }

  .home-intro-p {
    line-height: 33px;
    font-size: 24px;
    letter-spacing: 0.51px;
    max-width: 550px;
    margin-top: 40px;
  }

  .home-profile {
    grid-area: profile;
  }

  .home-profile-img {
    max-width: 340px;
    width: 70%;
    border-radius: 50%;
    float: right;
    margin-right: 120px;
  }

  .home-viewProjects {
    grid-area: viewProjects;
    justify-items: center;
    display: grid;
  }

  .home-viewProjects > p {
    margin: 210px 0 40px 0;
    font-size: 24px;
  }

  .home-viewProjects-button {
    height: 60px;
    width: 265px;
    border-radius: 5px;
    background-color: #3e833c;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.51px;
    line-height: 29px;
    color: #f0f0f0;
  }

  /* -------------------- HOME END -------------------- */

  /* -------------------- PROJECT BEGIN -------------------- */

  .project-container {
    grid-area: body;
  }

  .project-primary {
    display: flex;
  }

  .project-video-player {
    margin: 10px;
  }

  .project-secondary {
    display: flex;
  }

  .project-item {
    margin: 10px;
    display: grid;
    width: 25%;
    grid-template-columns: repeat(1, 1fr [col-start]);
    grid-template-rows: auto 345px 200px;
    grid-template-areas:
      "title"
      "image"
      "description";
  }

  .project-item-title {
    grid-area: title;
  }

  .project-item-image {
    grid-area: image;
  }

  .project-item-image:hover .project-pElement {
    opacity: 90%;
    visibility: visible;
  }

  .project-pElement {
    position: relative;
    top: -94%;
    line-height: 324px;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
    cursor: pointer;
  }

  .project-item-description {
    grid-area: description;
  }

  /* -------------------- PROJECT END -------------------- */

  /* -------------------- ABOUT BEGIN -------------------- */

  .about-container {
    grid-area: body;
  }

  .about-modal-title {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .card {
    background-color: var(--light-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    /* overflow: hidden; */
  }

  .aboutitem-button {
    background-image: linear-gradient(131deg, #181818 0%, #161616 100%);
    border-radius: 4px;
    color: #c4c0c0;
    box-sizing: none;
    border: none;
    height: 140px;
    width: 140px;
    margin: 0 10px 0 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  }

  #modalHeader {
    height: 100px;
    background-color: #aa7d7d38;
  }

  #aboutitem-modal {
    background-color: #aa7d7d38;
    border-radius: 0 0 4px 4px;
  }

  /* -------------------- ABOUT BEGIN -------------------- */

  /* -------------------- CONTACT BEGIN -------------------- */

  .contact-container {
    grid-area: contact;
    background-image: linear-gradient(131deg, #181818 0%, #161616 100%);
    border-radius: 4px;
    align-items: center;
    padding-bottom: 40px;
  }

  .contact-intro {
    display: block;
  }

  .contact-intro-h3 {
    font-size: 1.5rem;
    font-weight: 350;
    padding: 40px 0 10px 0;
  }

  .contact-intro2 {
    display: inline-flex;
  }

  .contact-intro2-h3 {
    font-size: 1.125rem;
    font-weight: 100;
    padding-bottom: 40px;
  }

  .contact-linkedin-link {
    height: 20px;
    margin-top: 17px;
  }

  .contact-linkedin-image {
    width: 5.6rem;
    margin-left: 4px;
    margin-bottom: -0.28rem;
  }

  .contact-form-container {
    width: 820px;
    display: grid;
    gap: 30px 10px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas:
      "name  email"
      "message message"
      "button .";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .contact-form-container-p {
    text-align: start;
    margin: 0 0 5px 0;
    font-size: 0.875rem;
  }

  .contact-name {
    grid-area: name;
  }

  .contact-name-input {
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border: none;
    background-color: #252525;
    color: #f0f0f0;
  }

  .contact-name-input:focus {
    border: 1px solid green;
    outline: none;
  }

  .contact-email {
    grid-area: email;
  }

  .contact-email-input {
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border: none;
    background-color: #252525;
    color: #f0f0f0;
  }

  .contact-email-input:focus {
    border: 1px solid green;
    outline: none;
  }

  .contact-message {
    grid-area: message;
  }

  .contact-message-input {
    height: 150px;
    width: 820px;
    border-radius: 5px;
    border: none;
    background-color: #252525;
    color: #f0f0f0;
  }

  .contact-message-input:focus {
    border: 1px solid green;
    outline: none;
  }

  .contact-button {
    grid-area: button;
    text-align: start;
  }

  .contact-button-send {
    height: 40px;
    width: 97px;
    border-radius: 5px;
    background-color: #3e833c;
    border: none;
    cursor: pointer;
    color: #f0f0f0;
  }

  /* Class for fields that are not valid */
  .is-invalid {
    border: 1px solid red;
  }

  .invalid-feedback {
    color: red;
  }

  /* -------------------- CONTACT END -------------------- */

  /* -------------------- FOOTER BEGIN -------------------- */

  .footer-container {
    grid-area: footer;
    background-color: #222222;
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  /* -------------------- FOOTER END -------------------- */
}

@media screen and (max-width: 992px) {
  .App {
    text-align: center;
    display: grid;
    min-height: -webkit-fill-available;

    /* defining how many columns I want */
    grid-template-columns: repeat(1, 1fr [col-start]);

    /* defining how many rows I want */
    grid-template-rows: 80px auto 640px 150px;
    gap: 30px;

    grid-template-areas:
      "nav"
      "body"
      "contact"
      "footer";
  }

  /* -------------------- HOME BEGIN 992 -------------------- */

  .home-intro-h2 {
    font-size: 30px;
    margin: 10px 14px 10px 0;
  }

  .home-intro-p {
    font-size: 20px;
  }

  .home-profile-img {
    margin-right: 40px;
  }

  /* -------------------- HOME END 992 -------------------- */

  /* -------------------- CONTACT BEGIN 992 -------------------- */
  .contact-form-container {
    justify-content: center;
    display: grid;
    gap: 30px 10px;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    grid-template-areas:
      "name"
      "email"
      "message"
      "button";
  }

  .contact-form-container-p {
    text-align: start;
    margin: 0 0 5px 0;
    font-size: 0.875rem;
  }

  .contact-intro {
    display: block;
    padding: 0 10px 0 10px;
  }

  .contact-name-input {
    width: 390px;
  }

  .contact-email-input {
    width: 390px;
  }

  .contact-message-input {
    width: 390px;
  }

  /* -------------------- CONTACT END 992 -------------------- */
}

@media screen and (max-width: 688px) {
  .app {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
