/* -------------------- NAV BAR BEGIN -------------------- */

.nav-container{
  justify-content: space-between;
  grid-area: nav;
  height: 60px;
  background-color: #222222;
  display: inline-flex;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-routes{
  display: inline-flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.nav-routes-buttonWrapper{
  display: inline-flex;
  width: 82px;
  justify-content: center;
}

.nav-routes-route{
  background-color: inherit;
  border: none;
  color: white;
  font-size: 1rem;
  margin-top: 1.25rem;
  cursor: pointer;
}

.nav-routes-route:focus{
  outline: none;
}

.nav-routes-focus{
  font-weight: 600;
  outline: none;
  background-color: inherit;
  border: none;
  color: white;
  font-size: 1rem;
  margin-top: 1.25rem;
  cursor: pointer;
}

/* code taken from here: https://jaspreetchahal.org/pure-css-square-brackets/ */
.squarebrackets 
{
  position: relative;
  z-index: 999;
}
.squarebrackets:before {
   content: " ";
   position: absolute;
   border-left: 2px solid #3E833C;
   border-top: 2px solid #3E833C;
   border-bottom: 2px solid #3E833C;
   padding: 2px;
   top: -5px;
   bottom: -5px;
   left: -6px;
   z-index: 999;
}
.squarebrackets:after
{
   content: " ";
   position: absolute;
   border-right: 2px solid #3E833C;
   border-top: 2px solid #3E833C;
   border-bottom: 2px solid #3E833C;
   padding: 2px;
   top: -5px;
   bottom: -5px;
   right: -6px;
   z-index: 999;
}

.nav-routes-divider{
  background-color: white;
  width: 1px;
  height: 20px;
  margin: 20px 40px 0 40px;
}

.nav-logo{
 line-height: 60px;
}

.nav-theme{
  line-height: 60px;
}


/* -------------------- NAV BAR END -------------------- */

/* -------------------- HOME BEGIN -------------------- */

.home-container {
  grid-area: body;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "intro profile"
    "viewProjects viewProjects";
  padding: 160px 0 90px 120px;
  text-align: left;
  border-radius: 4px;
  background-image: linear-gradient(131deg, #181818 0%, #161616 100%);
}

.home-intro{
  grid-area: intro;
}

.home-profile{
  grid-area: profile;
}

.home-profile-img{
  width: 40%;
  border-radius: 50%;
}

.home-viewProjects{
  grid-area: viewProjects;
}

.home-viewProjects-button{
  height: 60px;
  width: 265px;
  border-radius: 5px;
  background-color: #3E833C;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.51px;
  line-height: 29px;
  color: #F0F0F0;
}

/* -------------------- HOME END -------------------- */

/* -------------------- PROJECT BEGIN -------------------- */

.project-container{
  grid-area: body;
}

/* -------------------- PROJECT END -------------------- */

/* -------------------- ABOUT BEGIN -------------------- */

.about-container{
  grid-area: body;
}

/* -------------------- ABOUT BEGIN -------------------- */

/* -------------------- CONTACT BEGIN -------------------- */

.contact-container{
  grid-area: contact;
  background-image: linear-gradient(131deg, #181818 0%, #161616 100%);
  border-radius: 4px;
  align-items: center;
  padding-bottom: 40px;
}

.contact-intro{
  display: inline-flex;
}

.contact-linkedin-link{
  height: 20px;
  margin-top: 17px;
}

.contact-linkedin-image{
  width: 5.6rem;
  margin-left: 4px;
  margin-bottom: -3px;
}

.contact-form-container{
  width: 820px;
  display: grid;
  gap: 30px 10px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "name  email"
    "message message"
    "button .";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.contact-form-container-p{
  text-align: start;
  margin: 0 0 5px 0;
  font-size: .875rem;
}

.contact-name{
  grid-area: name;
}

.contact-name-input{
  height: 50px;
  width: 400px;
  border-radius: 5px;
  border: none;
  background-color: #252525;
  color: #F0F0F0;
}

.contact-name-input:focus{
  border: 1px solid green;
  outline: none;
}

.contact-email{
  grid-area: email;
}

.contact-email-input{
  height: 50px;
  width: 400px;
  border-radius: 5px;
  border: none;
  background-color: #252525;
  color: #F0F0F0;
}

.contact-email-input:focus{
  border: 1px solid green;
  outline: none;
}

.contact-message{
  grid-area: message;
}

.contact-message-input{
  height: 150px;
  width: 820px;
  border-radius: 5px;
  border: none;
  background-color: #252525;
  color: #F0F0F0;
}

.contact-message-input:focus{
  border: 1px solid green;
  outline: none;
}

.contact-button{
  grid-area: button;
  text-align: start;
}

.contact-button-send{
  height: 40px;
  width: 97px;
  border-radius: 5px;
  background-color: #3E833C;
  border: none;
  cursor: pointer;
  color: #F0F0F0;
}

/* Class for fields that are not valid */
.is-invalid{
  border: 1px solid red;
}

.invalid-feedback{
  color: red;
}

/* -------------------- CONTACT END -------------------- */


/* -------------------- FOOTER BEGIN -------------------- */

.footer-container{
  grid-area: footer;
  background-color: #222222;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
}

/* -------------------- FOOTER END -------------------- */

