/* -------------------- NAV BAR BEGIN -------------------- */

.nav-container{
  justify-content: space-between;
  grid-area: nav;
  height: 60px;
  background-color: #222222;
  display: inline-flex;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-routes{
  display: inline-flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  line-height: 60px;
  cursor: pointer;
}

.nav-logo{
 line-height: 60px;
}

.nav-theme{
  line-height: 60px;
}


/* -------------------- NAV BAR END -------------------- */

/* -------------------- HOME BEGIN -------------------- */

.home-container {
  grid-area: body;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-image: linear-gradient(131deg, #181818 0%, #161616 100%);
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas: 
    "intro profile"
    "viewProjects viewProjects"
  ;
}

.home-intro{
  grid-area: intro;
}

.home-profile{
  grid-area: profile;
}

.home-profile-img{
  height: 340px;
  border-radius: 50%;
}

.home-viewProjects{
  grid-area: viewProjects;
}

/* -------------------- HOME END -------------------- */

/* -------------------- PROJECT BEGIN -------------------- */

.project-container{
  grid-area: body;
}

/* -------------------- PROJECT END -------------------- */

/* -------------------- ABOUT BEGIN -------------------- */

.about-container{
  grid-area: body;
}

/* -------------------- ABOUT BEGIN -------------------- */

/* -------------------- CONTACT BEGIN -------------------- */

.contact-container{
  grid-area: contact;
}

.image {
  width: 70px;
  margin-left: 4px;
  margin-bottom: -3px;
}

/* -------------------- CONTACT END -------------------- */


/* -------------------- FOOTER BEGIN -------------------- */

.footer-container{
  grid-area: footer;
  background-color: #222222;
  margin-left: -50px;
  margin-right: -50px;
  padding-left: 50px;
  padding-right: 50px;
}

/* -------------------- FOOTER END -------------------- */

