a {
  text-decoration: none;
}

li{
  list-style-type: none;
}

.secondary{
  color: #4aa54aab;
}

/* About page begin */




.aboutPersonality{
  grid-column-start: col-1;
  grid-column-end: col-12;
  grid-row-start: row-6;
}

.personality1 {
  grid-column-start: col-1;
  grid-column-end: col-3;
  grid-row-start: row-7;
  margin: 0 -9% 0 29%;
}

.personality2 {
  grid-column-start: col-4;
  grid-column-end: col-6;
  grid-row-start: row-7;
  margin: 0 -5% 0 49%;
}

.personality3 {
  grid-column-start: col-7;
  grid-column-end: col-9;
  grid-row-start: row-7;
  margin: 0 -12% 0 50%;
}

.personality4 {
  grid-column-start: col-10;
  grid-column-end: col-12;
  grid-row-start: row-7;
  margin: 0 -25% 0 42%;
}
h4 {
  color: #804604;
  font-weight: bolder;
}

.tertiary {
  color: #804604;
}

 /* portfolioo page begins */
.portfolio {
  display: grid;
  grid: inherit;
  grid-column-start: col-1;
  grid-column-end: col-12;
  grid-row-start: row-8;
  grid-row-end: row-9;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.50);
  margin: 10px -5% 0 4%;
  padding: 0 10px 30px 10px;
  /* background: linear-gradient(135deg, #00c6ff 0%, #0072ff 100%); */
}

.portfolioHeader{
  grid-column-start: col-1;
  grid-column-end: col-12;
  grid-row-start: row-8;
  margin-left: 8%;
}

.portfolioChild {
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.50);
  padding-top: 10px;
  margin: 0 20px 0 20px;
  border-radius: 4px;
  width: 140px;
  height: 30px;
  border: solid 1px #8046044f;
}

.portfolioChild.one {
  grid-column-start: col-1;
  grid-column-end: col-2;
  grid-row-start: row-9;
}

.portfolioChild.two {
  grid-column-start: col-3;
  grid-column-end: col-4;
  grid-row-start: row-9;
}

.portfolioChild.three {
  grid-column-start: col-5;
  grid-column-end: col-6;
  grid-row-start: row-9;
}

.portfolioChild.four {
  grid-column-start: col-7;
  grid-column-end: col-8;
  grid-row-start: row-9;
}

.portfolioChild.five {
  grid-column-start: col-9;
  grid-column-end: col-10;
  grid-row-start: row-9;
}

.portfolioChild.six {
  grid-column-start: col-11;
  grid-column-end: col-12;
  grid-row-start: row-9;
}

.portfolioChild:hover {
  opacity: 80%;
}

/* contact page begins */
.contact {
  grid-column-start: col-1;
  grid-column-end: col-12;
  grid-row-start: row-10;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.50);
  margin: 0 -5% 15px 4%;
}

.image {
  width: 70px;
  margin-left: 4px;
  margin-bottom: -3px;
}

.footer{
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100%;
  margin: auto;
}


.aboutPersonality{
  margin-left: 12%;
  width: 80%;
}