.App {
  text-align: center;
  display: grid;
  min-height: -webkit-fill-available;

  /* defining how many columns I want */
  grid-template-columns: repeat(1, 1fr [col-start]);;

  /* defining how many rows I want */
  grid-template-rows: 60px auto 500px 150px;

  grid-template-areas: 
    "nav"
    "body"
    "contact"
    "footer"
  ;
}

/* -------------------- light and dark mode stuff begin -------------------- */

.App.dark {
  color: #c4c0c0;
  background-color: #0e0e0e;
  padding: 0 50px;
}

.App.light {
  color: #222;
  background-color: #c4c0c0;
}

.light{
  color: #222;
}

.dark {
  color: #c4c0c0;
}
/* -------------------- light and dark mode stuff end -------------------- */

@media all and (max-width: 800px) {
  .app {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .app {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}